/*
 * This style sheet file defines layout information for the website.
 *
 * Colours:
 * - yellow: #FFFFC0
 * - blue: #C0C0FF
 * - red: #FF8080
 * - green: #C0FFC0
 * - orange: #FFDCA8
 *
 * @author Christian Heller <christian.heller@cybop.org>
 */

body {

    background-color: #000000;
    margin: 0cm;
    /* Minimum width avoids line feed and display errors in modern browsers. */
    min-width: 1000px;
    width: 1024px;
}

div#page {
    margin: 20px;
    background-color: #000000;
    text-align: left;
    font-family: "Monospace", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Lucida Console", "FreeMono", "Nimbus Mono L", "Andale Mono", "Consolas", "Everson Mono", "Courier", "Prestige";
    color: #FFFFC0;
}

div#page h1 {
    color: #C0C0FF;
    font-size: 1.4em;
}

div#page h2 {
    color: #C0C0FF;
    font-size: 1.0em;
}

div#page h3 {
    color: #C0C0FF;
    font-size: 0.9em;
}

div#page p {
    color: #FFFFC0;
    font-size: 0.9em;
}

div#page table {
    margin: 5px;
    max-width: 800px;
    padding: 0.2em;
    font-size: 0.9em;
}

div#page tr {
    text-align: left;
    vertical-align: top;
}

div#page th {
    background-color: #C0C0FF;
    color: #000000;
}

div#page td {
    margin: 5px;
}

div#page a {
    padding: 0.2em;
    text-decoration: none;
}

div#page a:link {
    color: #C0C0FF;
}

div#page a:visited {
    color: #808080;
}

div#page a:hover {
}

div#page a:active {
    background-color: #FFFFC0;
    color: #000000;
}

* html div#page {
    /* The workaround for the 3 pixel bug of Internet Explorer up to version 6. */
    height: 1em;
}

div#content {
    margin-left: 240px;
}

div#navigation {
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFC0;
    background-color: #FFFFC0;
    color: #000000;
    font-size: 0.8em;
}

div#navigation h1 {
    display: block;
    margin: 0px;
    padding: 0.2em;
    background-color: #FF8080;
    color: #000000;
    font-size: 1.0em;
    font-weight: bold;
}

div#navigation a {
    display: block;
    padding: 0.2em;
    text-decoration: none;
}

div#navigation a:link {
    background-color: #FFFFC0;
    color: #000000;
}

div#navigation a:visited {
    background-color: #FFFFC0;
    color: #808080;
}

div#navigation a:hover {
    background-color: #C0C0FF;
    color: #000000;
}

div#navigation a:active {
    background-color: #000000;
    color: #C0C0FF;
}

div#information {
    width: 100%;
    border-width: 0px;
    background-color: #000000;
    color: #FFFFC0;
    text-align: center;
}

div#information a {
    display: block;
    padding: 0.2em;
    text-decoration: none;
}

div#information a:link {
    background-color: #000000;
    color: #FFFFC0;
}

div#information a:visited {
    background-color: #000000;
    color: #808080;
}

div#information a:hover {
    background-color: #C0C0FF;
    color: #000000;
}

div#information a:active {
    background-color: #000000;
    color: #C0C0FF;
}

div#description {
    margin-left: 210px;
}

div#description h1 {
    color: #C0C0FF;
    font-size: 1.4em;
    font-weight: bold;
}

div#news {
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 200px;
}

div#news h1 {
    margin: 2px;
    padding: 0.2em;
    background-color: #C0C0FF;
    color: #000000;
    font-size: 1.0em;
}

div#news table {
    margin: 2px;
    padding: 0.2em;
    font-size: 0.9em;
}

div#news tr {
    text-align: left;
    vertical-align: top;
}

div#news th {
    width: 90px;
    background-color: #000000;
    color: #FFFFC0;
}

div#advertisement {
    margin-left: 20px;
    float: right;
    width: 180px;
    color: #FFFFC0;
    text-align: center;
    vertical-align: top;
}

div#footer {
    /* The "clear" resets the element flow. */
    clear: both;
    padding: 0.1em;
    text-align: left;
    font-size: 0.8em;
}

.todo {
    background-color: #FF8080;
    color: #000000;
}

.doing {
    background-color: #FFFFC0;
    color: #000000;
}

.done {
    background-color: #C0FFC0;
    color: #000000;
}

