a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body, center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed, fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins, kbd, keygen, label, legend, li, 
meter, nav, object, ol, output, p, pre, progress,
q, s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
    background: transparent;
    border: 0 none;
    font-size: 100%;

    margin: 0;
    padding: 0;
    vertical-align: baseline; }

@charset "UTF-8";
/* CSS Document */


article, section, aside, hgroup, nav, header, footer, figure, figcaption
{ 
    display: block;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper { 
    width: 960px;
    background-color: #FFF;
    margin-left:auto;
    margin-right:auto;
}

header { 
    height: 200px;
}

#logo {
    vertical-align:middle;
}

nav {
    width:960px;
}


nav ul {
    padding-left: 0;
    margin-left: 0;
    background-color: #209a9b;
    color: #FFF;
    float: left;
    width: 100%;
}

nav ul li { 
    display: inline; }

nav ul li a {
    font-size: 1em;    
    padding: 10px 16px;
    background-color: #209a9b;
    color: #FFF;
    text-decoration: none;
    float: left;
    border-right: 1px solid #fff;
}

nav ul li a:hover {
    background-color: #999;
    color: #fff;
}

.highlight a{
font-weight: 900;
color: #444;
}

#content { 
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    float: left;
    width:580px;        
}

#content h1{
    font-size: 24px;
    padding-top: 25px;
}

#content h2 {
    font-size: 18px;  
    padding-top: 25px;
    font-weight: 200;
}

#content p{
    font-size: 12px; 
    padding-top:15px;
    line-height:16px;    
}

#rightcol {
    float: left;
    padding-left: 40px;
    width: 260px;    
}

#rightcol h2 {
    font-size: 18px; 
    padding-top: 25px;
    font-weight: 400;
}

#rightcol h3 {
    font-size: 16px;  
    padding-top: 25px;
    font-weight: 200;
}

#rightcol p {
    font-size: 12px;
}

footer {
    clear:both;
    height: 50px;
}

footer p {
    font-size: 11px; 
    color:#333;    
    padding-left: 40px;
}

footer a {
    color:#333;
    text-decoration:none;
}

.h1{
    padding-top: 10px;
}





