/*
 * Colours:
 * gray: #E0E0E0
 * red: #FFCCCC
 * yellow: #FFFFCC
 * green: #E6FFCC
 */

/*
 * General.
 */

body {
    margin: 20px;
    /* CAUTION! The header image has a width of 1000px. */
    width: 1000px;
    /* Minimum width avoids line feed and display errors in modern browsers. */
    min-width: 1000px;
    background-color: #FFFFFF;
    text-align: left;
    font-family: "Bitstream Vera Sans", "DejaVu Sans", "Free Sans", "Latin Modern Sans", "Liberation Sans", "Nimbus Sans L", "Verdana", "Arial", "Sans Serif";
    font-size: 10pt;
    color: #000000;
}

a {
    /* Avoid standard color "blue" of most web browsers. */
    color: #000000;
    text-decoration: underline;
}

a:hover {
    font-weight: bold;
/*
    background-color: #000000;
    color: #FFFFFF;
*/
}

/*
 * Alignment.
 */

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

/*
 * Values used in lecturers and choices.
 */

.teaching {
    background-color: #E6FFCC;
}

.homeoffice {
    background-color: #FFCCCC;
}

.businesstrip {
    background-color: #FFCCCC;
}

.holiday {
    background-color: #FFCCCC;
}

.illness {
    background-color: #FFCCCC;
}

.bankholiday {
    background-color: #E0E0E0;
}

.empty {
    background-color: #E0E0E0;
}

/*
 * Header.
 */

#header h1 {
    font-size: 14pt;
}

/*
 * Navigation.
 */

#navigation {
    margin-top: 20px;
    margin-bottom: 10px;
}

#navigation table {
    width: 800px;
    border-spacing: 0px;
}

/*
 * Lecturers.
 */

#lecturers table {
    width: 880px;
    border-spacing: 1px;
    background-color: #000000;
    text-align: center;
}

#lecturers th {
    min-width: 100px;
    padding: 2px;
    white-space: nowrap;
    background-color: #E0E0E0;
}

#lecturers a {
    display: block;
    text-decoration: none;
}

/*
 * Choices.
 */

#choices {
    float: right;
}

#choices table {
    width: 100px;
    border-spacing: 1px;
    background-color: #000000;
    text-align: center;
}

#choices th {
    padding: 2px;
    background-color: #E0E0E0;
}

/*
 * Buttons.
 */

#buttons {
    float: right;
    margin-right: 10px;
    width: 200px;
}

#buttons fieldset {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}

#buttons #username-label, #buttons #password-label {
    height: 14px;
    padding: 2px;
    font-size: 10pt;
    font-weight: bold;
}

#buttons #username-field, #buttons #password-field {
    height: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: #E0E0E0;
    padding: 2px;
    font-size: 10pt;
}

#buttons #remember-field {
    font-size: 10pt;
    color: #E0E0E0;
}

#buttons button {
    clear: both;
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #E0E0E0;
    font-size: 10pt;
    font-weight: bold;
}

/*
 * Footer.
 */

#footer {
    /* The "clear" resets the element flow. */
    clear: both;
    padding: 0.1em;
    text-align: left;
    font-size: 0.8em;
}

#footer hr {
    border-top-width: 1px;
    border-style: solid;
    border-color: #000000;
}

#footer img {
    float: left;
    height: 20px;
}

#footer .text {
    margin-left: 10px;
}
