/*
 * Copyright (C) 1999-2014. Christian Heller.
 *
 * This file is part of the Cybernetics Oriented Interpreter (CYBOI).
 *
 * CYBOI is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published
 * by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * CYBOI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with CYBOI. If not, see <http://www.gnu.org/licenses/>.
 *
 * Cybernetics Oriented Programming (CYBOP) <http://www.cybop.org/>
 * CYBOP Developers <cybop-developers@nongnu.org>
 *
 * This style sheet defines layout information for the cybol specification.
 *
 * Colours:
 * - yellow: #FFFFC0
 * - blue: #000099
 * - light blue: #C0C0FF
 * - red: #FF8080
 * - green: #C0FFC0
 * - orange: #FFDCA8
 *
 * @version CYBOP 0.16.0 2014-03-31
 * @author Christian Heller <christian.heller@cybop.org>
 */

* html div {
    /* The workaround for the 3 pixel bug of Internet Explorer up to version 6. */
    height: 1em;
}

/*
 * Reset default margin and padding,
 * which most browsers have by default.
 */
document, html, body {
    margin: 0px;
    padding: 0px;
    font-family: Bitstream Vera Sans,DejaVu Sans,Sans Serif,FreeSans,Liberation Sans,Nimbus Sans L,Latin Modern Sans;
}

#toc {
    float: left;
    position: fixed;
    overflow-y: scroll;
    width: 200px;
    height: 90%;
    padding: 10px;
    font-size: 8pt;
}

#toc h1 {
    text-align: left;
    font-size: 10pt;
}

#toc a {
    display: block;
    text-decoration: none;
}

#toc a:link {
    color: #000000;
}

#toc a:visited {
    color: #808080;
}

#toc a:hover {
    background-color: #FF8080;
    color: #000000;
}

#toc a:active {
    background-color: #000000;
    color: #C0C0FF;
}

.topic_toc {
    margin-top: 10px;
    padding: 1px;
    background-color: #FF8080;
}

.category_toc {
    padding-top: 5px;
    padding-left: 10px;
    background-color: #FFFFC0;
}

.part_toc {
    padding-left: 20px;
    background-color: #E0E0E0;
}

#content {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 250px;
    width: 800px;
    font-size: 10pt;
}

#title {
    padding: 10px;
    text-align: center;
    font-size: 14pt;
}

#content h1 {
    margin-top: 50px;
    background-color: #FF8080;
    padding: 10px;
    text-align: left;
    font-size: 14pt;
}

#content h2 {
    margin-top: 50px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    display: block;
    background-color: #FFFFC0;
    padding: 5px;
    text-align: left;
    font-size: 12pt;
}

#content h3 {
    margin-top: 50px;
    display: block;
    background-color: #E0E0E0;
    padding: 5px;
    text-align: left;
    font-size: 10pt;
}

.property_table {
    background-color: #FFFFC0;
    border-collapse: collapse;
    font-size: 9pt;
}

.property_table tr {
    text-align: left;
    vertical-align: top;
}

.property_table th {
    padding: 2px;
}

.property_table td {
    padding: 2px;
}

.part_example {
    background-color: #000099;
    color: #FFFFC0;
    padding: 5px;
    white-space: pre-wrap;
    font-family: Bitstream Vera Sans Mono,DejaVu Sans Mono,FreeMono,Monospace,Fixedsys,Courier;
    font-size: 9pt;
}
