body {

    background-color: yellow;
    margin: 1cm;
    /* Minimum width avoids line feed and display errors in modern browsers. */
    min-width: 800px;
    width: 800px;
}

h1 {
    font-size: 18pt;
    color: #000000;
}

#content {
    font-size: 12pt;
    font-weight: bold;
    color: #0000FF;
}

.button {

    margin: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: #FFFFFF;
    color: #000000;
    padding: 5px;
}
